body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin: 0px;
}
header {
  position: sticky;
  top: 0;
}
ul {
  background-color: rgb(218, 218, 218);
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(46, 46, 46);
  display: block;
  margin: 0 5px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(156, 156, 156);
  border-radius: 5px;
}

/* Title wrapper */
.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
/* Title */
h1 {
  color: green;
  margin: 0 0 0 10px;
}
/* Input field */
input {
  /* display: none; */
  height: 20px;
  margin-right: 10px;
  text-align: right;
  width: 80px;
}
/* Remove arrows from input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* Generated list inside .container */
.item-card {
  align-items: center;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 0fr 1fr 1fr 0fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "img title . ."
    "img title value button"
    "img title date date";
}
.item-card img {
  grid-area: img;
  margin: 6px 0 6px 10px;
  max-width: 48px;
}
.item-card h3 {
  grid-area: title;
  margin: 0 0 0 10px;
}
.coinValue {
  font-weight: bold;
  grid-area: value;
  justify-self: right;
  margin: 0 10px 0 0;
}
.coinDate {
  font-size: 12px;
  grid-area: date;
  justify-self: right;
  margin: 0 10px 0 0;
}

.item-card {
  transition: 300ms transform;

}
.item-card:hover {
  transform: scale(1.1);
  background-color: #888888;
  transition: 300ms transform, 500ms background-color;
}

/* Update button */
.update-data {
  border-radius: 100px;
  height: 26px;
  margin-top: 10px;
  padding: 0;
  position: absolute;
  right: 10px;
  width: 26px;
}

/* Loading window? */
#loading-window {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0%;
  position: fixed;
  top: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}
#loading-window.display {
  opacity: 50%;
  transition: opacity 0.5s linear;
  visibility: visible;
}
/* Loading spinner */
#loading {
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-top: 6px solid #9c41f2 !important;
  border: 5px solid #f3f3f3;
  height: 2rem;
  left: 50%;
  margin-left: -1rem;
  margin-top: -1rem;
  position: absolute;
  top: 50%;
  visibility: hidden;
  width: 2rem;
  z-index: 2;
}
#loading.display {
  visibility: visible;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  align-items: center;
  background-color: #d1d1d1;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  min-height: 46px;
  position: sticky;
}

/* Desktop mode */
@media (min-width: 425px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    min-width: 425px;
  }

  /* Main container, where new div's generate  */
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 425px;
  }
}
