/* Generated list inside .container */
.container {
  border: solid grey 1px;
  margin: 0 1.3rem;
  user-select: none;
}

.cur-container {
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-auto-flow: row;
  grid-template-columns: 0fr 0.3fr 1fr;
  grid-template-rows: 0.8fr 0fr 0fr;
  grid-template-areas:
    "img title . ."
    "img title value button"
    "img title date date";
}
.cur-container:nth-child(odd) {
  background-color: #ccc;
}
.cur-container {
  transition: 300ms transform;
}
.cur-container:hover,
.cur-container:active {
  transform: scale(1.1);
  background-color: #888888;
  transition: 300ms transform, 500ms background-color;
}

.cur-logo {
  grid-area: img;
  margin: 0 0.5rem;
  max-width: 3rem;
  border-radius: 2rem;
  box-shadow: -2.5px 5px 5px 0px #00000040;
}
.cur-name {
  grid-area: title;
  /* margin: 0 0.5rem; */
  font-weight: 600;
  font-size: 1rem;
}
.cur-value {
  grid-area: value;
  justify-self: right;
  margin: 0 0.5rem;
  font-weight: 400;
  font-size: 1rem;
}
.cur-updated {
  grid-area: date;
  justify-self: right;
  margin: 0 0.5rem;
  font-weight: 400;
  font-size: 0.7rem;
  white-space: nowrap;
  /* font-style: italic; */
}

@media only screen and (min-width: 479px) {
  .cur-container {
    grid-template-columns: 0fr 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
}
