.background-window {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  transition: background-color 0.5s linear;
  padding-bottom: 4rem;
}

.history-window {
  position: relative;
  z-index: 3;
  background-color: #fff;
  border: 1px solid black;
  width: 80%;
  margin-bottom: 4rem;
  user-select: none;
  box-shadow: 0px 0px 20px 5px #0004;
}

.window-container {
  margin: 1rem;
  border: 1px solid #ddd9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.window-container > div {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.window-container img {
  width: 2.5rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 10px 0px #0002;
}
.window-container h3 {
  margin: 0 0.5rem;
  font-size: 1.25rem;
}
.window-container > p {
  font-size: 0.8rem;
  margin: 0rem 1rem;
}

.window-container > table {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border-bottom: 1px solid #ddd;
}

/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.window-container tr:hover {
  background-color: #ddd;
}

th {
  background-color: #00d487;
}

.window-container > canvas {
  width: 100%;
  margin-top: 0.1rem;
  padding-left: 0.2rem;
}

.close-btn {
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  line-height: 0.5rem;
  border-radius: 2rem;
  border: solid 1px #ccc;
  color: #666;
}
