*,
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
}

h1 {
  color: green;
  margin: 1rem 0 0 0;
  align-self: center;
}
/* Loading window? */
.loading-bg {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0%;
  position: fixed;
  top: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}
.loading-bg.display {
  opacity: 50%;
  transition: opacity 0.5s linear;
  visibility: visible;
}
/* Loading spinner */
.loading {
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-top: 6px solid #9c41f2 !important;
  border: 5px solid #f3f3f3;
  height: 2rem;
  left: 50%;
  margin-left: -1rem;
  margin-top: -1rem;
  position: absolute;
  top: 50%;
  visibility: hidden;
  width: 2rem;
  z-index: 2;
}
.loading.display {
  visibility: visible;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 768px) {
  #root {
    background-color: #fff;
  }
}
