.input-container {
  background-color: #ddd;
  box-shadow: 0px 0px 20px 5px #00000040;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  padding: 0.4rem 0;
}

select {
  display: flex;
  box-shadow: inset 0px 0px 20px 0px #00000020;
  text-align: center;
  font-size: 1.2rem;
  color: #222;
  border-radius: 0.8rem;
  border: 0;
  margin-left: 0.7rem;
  padding-left: 0.7rem;
  height: 2.5rem;
}

label {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 1.5rem;
  color: #222;
  margin: 0.7rem;
  border-radius: 0.8rem;
}
input {
  background-color: #2222;
  box-shadow: inset 0px 0px 20px 0px #00000020;
  text-align: right;
  font-size: 1.5rem;
  color: #222;
  width: 100%;
  outline: 0;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  padding: 0 0.7em;
  height: 2.5rem;
}

/* Remove arrows from input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (min-width: 768px) {
}
